<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <a href="/games" class="logo">Inventory Application</a>
    </header>

    <nav>
      <ul>
        <li><a href="/games">Games</a></li>
        <li><a href="/publishers">Publishers</a></li>
        <li><a href="/genres">Genres</a></li>
      </ul>
    </nav>

    <main><%- include(content) %></main>
  </body>
</html>
