<h1><%= title %></h1>

<form action="/genres/add" method="POST">
  <label for="name">
    Name
    <input type="text" name="name" id="name" required>
  </label>

  <button type="submit">Add</button>
</form>
