<h1><%= title %></h1>

<% if (publishers.length) { %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Games</th>
      </tr>
    </thead>
    <tbody>
      <% for (const { id, name, games } of publishers) { %>
        <tr>
          <td><a href="/publishers/<%= id %>"><%= name %></a></td>
          <td><%= games %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
<% } else { %>
  <p>
    Unfortunately there are no publishers yet, but you can always add one yourself!
  </p>
<% } %>
