<h1><%= title %></h1>

<a href="/genres/add"><button type="button">Add Genre</button></a>

<% if (genres.length) { %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Games</th>
      </tr>
    </thead>
    <tbody>
      <% for (const { id, name, games } of genres) { %>
        <tr>
          <td><a href="/genres/<%= id %>"><%= name %></a></td>
          <td><%= games %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
<% } else { %>
  <p>
    Unfortunately there are no genres yet, but you can always add one yourself!
  </p>
<% } %>
